.food-item  {
    width: 100%;
    margin: auto;
    /* border: 2px solid black; */
    border-radius:15px;
    box-shadow: 1px 1px 5px black; 
    transition: 0.1s;
    animation: fadeIn 1s;
    
    cursor: pointer;

}

.food-item:hover{
    
    box-shadow: 2px 2px 10px black;
}
.food-item-img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.food-item-info{
    padding: 10px;
    height: 35vh;
}


.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.food-item-name-rating img{
    height: 100%;
}


.food-item-name-rating p{
    font-size: 16px;
    font-weight: 500;
}

.food-item-price{
    font-size: 20px;
    color: rgba(197, 90, 17,0.8);
    font-weight: 600;
}

.food-item-name-rating img{
    width: 70px;
    margin-top: 5px;
}
.food-item-desc{
    opacity: 0.8;
}

.food-item-img-container{
    position: relative;
}


.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    cursor: pointer;
}
    
.food-item-counter{
    position: absolute;
    bottom: 15px;
    height: 30px;
    
    right: 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    padding: 4px;
    border-radius: 50px;
    background-color: white;
}

