.food-display{
    margin-top: 30px;
    margin-bottom: 30px;

}

.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    column-gap: 2rem;
    row-gap: 2rem;
}

.food-display .food-display-all{
    display: inline;
    margin-left: 20px;
    width: 150px;
    height: 35px;
    background-color: rgba(197, 90, 17,0.5);
    border: none;
    border-radius: 15px;
    font-size: 20px; 
}
.food-display-all:hover{
    background-color: antiquewhite;
    border: 2px solid rgba(197, 90, 17,0.5);
}